In [6]:
#variables con formato, rellenamos los {} con format e indicando la variable
nombre ='Lucia'
apellido ='Perez'
print("Bienvenido, persona de nombre {} y apellido {}".format(nombre, apellido))

#otro modo marcando que variables (para el caso de tener muchas y no liarla)
print("Bienvenido, persona de nombre {var1} y apellido {var2}".format(var1=nombre, var2=apellido))

Bienvenido, persona de nombre Lucia y apellido Perez
Bienvenido, persona de nombre Lucia y apellido Perez

In [12]:
cadena ='cadena'
cadena[4]
cadena[-1]
cadena[1:4:2]

'ae'

In [24]:
#listas []
lista =['a','b','c']
#append() - añadir elementos --añade en ultima posición. 
lista.append('e')
lista
#se pueden indexar con [::] primera posicion, ultima posicion y salto
#una lista puede contener listas
lista2=[1,2,3,4,5]
lista.append(lista2)
lista

['a', 'b', 'c', 'e', [1, 2, 3, 4, 5]]

In [47]:
#acceder a lista dobe, a un elto de una lista dentro de otra lista. primero se da la posicion de la 2 lista y luego la posc del elto
#para ver el elemnto 2 de la lista dentro de la lista
lista[4][1]

2

In [49]:
#Tuplas, lista de valores INALTERABLES (a,b,c,d)
tupla = (1,2,3,4)

In [39]:
#DICCIONARIOS: {'Clave':'valor','a':'1'} etc, se accede al valor a traves de la clave
dicc = {"nombre":"pepe","apellido":"Perez","edad":18}
dicc['apellido']

'Perez'

In [54]:
#CONJUNTOS -- colecc de eltos UNICOS y van entre {} no se pueden repetir

conjunto= {1,2,3,4}
conjunto

{1, 2, 3, 4}

In [62]:
conjunto2 = {1,1,2,3,3,3,2,1,2,4}
conjunto2  #vemos se elimina los eltos duplicados y deja solo eltos únicos

{1, 2, 3, 4}

In [66]:
#se puede crear un conjunto a partir de una lista
lista = [1,2,3,4,5,6,7,2,3,4,5,3,4,1]
conjunto = set (lista)
conjunto  #nos devuelve una conjunto con los valores UNICOS de la lista con la que se ha creado el conjunto
#sirve para eliminar duplicados de la lista

{1, 2, 3, 4, 5, 6, 7}

In [72]:
#Operadores de comparación
#  ==(igual) <(menor) >(mayor) <=(menor o igual) >=(mayor o igual) !=(distinto)
lista != conjunto

False

In [94]:
#comprensión de lista - crear una lista a partir de otra, se crea la lista vacia y se crea a partir de la otra
lista1 = [1,2,3,4,5]
lista2= []
for  numero in lista1:
    valor = numero *2
    lista2.append(valor)

lista2

[2, 4, 6, 8, 10]

In [102]:
#esto se puede hacer con la comprensión de lista
lista3 = [numero*2 for numero in lista2]
lista3

[4, 8, 12, 16, 20]

---

In [11]:
A = 10
B = 5

In [ ]:
#Aritmetica simple

In [13]:
c = A + B

In [17]:
print(c)  #esto es diferente a python 2

15

In [19]:
import math

In [25]:
math.sqrt(A)

3.1622776601683795

In [27]:
round(math.sqrt(A))

3

In [10]:
i = 0
while i<10:
    print(i)
    i +=1
print("fuera de bucle, FIN")

0
1
2
3
4
5
6
7
8
9
fuera de bucle, FIN

BUCLE FOR

In [12]:
#vamos a escribir un for loop
for i in range(5):
    print("Hola Py")

Hola Py
Hola Py
Hola Py
Hola Py
Hola Py

In [90]:
#range(5) #diferente a python 2.7
list(range(5))  #empieza en 0 y cuenta 5, es una lista no inclusiva

[0, 1, 2, 3, 4]

In [92]:
list(range(5,10,2))  #pasando valor inicial y final y salto

[5, 7, 9]

In [16]:
for i in range(5):
    print("Hola, contando ", i)

Hola, contando 0
Hola, contando 1
Hola, contando 2
Hola, contando 3
Hola, contando 4

---

In [78]:
myList=[10,100,10000]
print(myList)

[10, 100, 10000]

In [82]:
for item in myList:
    print("item, es igual a:", item )

item, es igual a: 10
item, es igual a: 100
item, es igual a: 10000

---

### Para crear una linea para dividir el código en jupyter. en Markcode datos --- y alt+enter y crea una línea
---

---

If, else, y numply

In [40]:
#importamos el paquete numpy
import numpy as np #le asignamos un alias 'np'

from numpy.random import randn #importamos la función random del pquete numpy

randn()

-0.4657334501457818

In [63]:
x = randn()

if x > 2:     respuesta ="Mayor a 2"
else: respuesta ="No es mayor de 2"
print(x)
print(respuesta)

-0.1363672580384036
No es mayor de 2

In [73]:
#CONDICIONES ANIDADOS 
x = randn()

if x > 1:
    respuesta ="Mayor de 1"
else:
    if x >-1:
        respuesta ="Entre -1 y 1"
    else:
        respuesta ="Menor a -1"
        
print(x)
print(respuesta)

1.6981438202611863
Mayor de 1

In [75]:
# condiciones encadenados (más limpio)
x = randn()

if x > 1:
    respuesta ="Mayor de 1"
elif x >-1:
   respuesta ="Entre -1 y 1"
else:
   respuesta ="Menor a -1"
        
print(x)
print(respuesta)

-1.4388268989208093
Menor a -1

---

In [105]:
#solución al problema 1
import numpy as np
from numpy.random import randn
N = 50  #especifica el tamaño de la muestra
contador = 0 #reinicio el contador

for contador in randn(N):
    if( and ):
        contador += 1

repuesta = contador /N
print (respuesta)

SyntaxError: invalid syntax (3630690201.py, line 8)

---

## FUNCIONES

In [113]:
def funcion():
    print("holita")

funcion()

holita

In [121]:
def saludar(nombre):
    print('Hola, buenos días ' + nombre)

saludar('Tony')

Hola, buenos días Tony

In [139]:
def sumar(num1, num2):
    """Funcion para sumar dos números, 
    comentario propio para consultar shift+tab
    """
    resultado = num1 + num2
    return resultado

print("el resultado de sumar es ", sumar(5,6))

el resultado de sumar es  11

In [ ]:
''' para consultar las opciones de la documentacion SHIFT+TAB y si le damos poniendo la funcion nuestra sumar()
nos saldrán los comentarios que hemos añadido entre los triples comillados'''
sumar

 **Funcion map()**
  map( ) sirve para mapear una función sobre todos los elementos de un objeto, como una lista

In [148]:
def multiplicar(numero):
    return numero *2
    
lista =[1,2,3,4,5]
lista2= list(map(multiplicar, lista))
lista2

[2, 4, 6, 8, 10]

In [152]:
# ha aplicado la funcion multiplicar sobre cada elemento de una lista, luego el restultao lo hemos pasado a una lista para verlo

**FUNCION LAMBDA**  
Es una función anónima, se usa para simplicar codigo, puede tener cualquier numero de argumentos pero solo puede tener una expresión.

In [165]:
lista1 = [1,2,3,4,5]
lista3 =list(map(lambda numero: numero*2, lista1))
lista3

[2, 4, 6, 8, 10]

**FILTROS**

In [177]:
def pares(numero):  #esta func devuelve los números que sean pares
    if (numero % 2 == 0): 
        return numero

lista1 =[1,2,3,4,5,6,7,8,9]
lista_pares = list(filter(pares,lista1))
lista_pares

[2, 4, 6, 8]

In [183]:
#igual pero con una función lambda
lista1 =[11,22,33,45,60,71,83,92]

lista_pares_lambda = list(filter(lambda numero: numero%2 == 0, lista1))
lista_pares_lambda

[22, 60, 92]

**funciona de cadenas de caracteres**

In [186]:
cadena ="Hola, buenos días, bienvenido"
cadena

'Hola, buenos días, bienvenido'

In [200]:
cadena_mayus = cadena.upper()
cadena_mayus

'HOLA, BUENOS DÍAS, BIENVENIDO'

In [202]:
cadena.split() #nos devuelve una lista de las palabras separadas por espacio

['Hola,', 'buenos', 'días,', 'bienvenido']

In [204]:
cadena.split(',') #igual pero marcando la ', ' como elto de separación

['Hola', ' buenos días', ' bienvenido']

In [214]:
frase = 'Hola, este es un curso básico de Python'
print("El número de palabras es de ...",len(frase.split()))

El número de palabras es de ... 8

In [224]:
lista =[1,-1,4,-15,9,7,6,-3,2,-20]
#crear una func 'positivo' que devuelva los número positivos y crear la lista2 con solo los positivos
def positivo(numero):  #esta func devuelve los números que sean pares
    if (numero >= 0): 
        return numero

lista2 = list(filter(positivo,lista1))
lista2

[11, 22, 33, 45, 60, 71, 83, 92]

In [222]:
lista2 = list(filter(lambda numero: numero>=0, lista))
lista2

[1, 4, 9, 7, 6, 2]

In [236]:
lista =['manzana','platano','pera','manzana','limon','pera','platano','naranja']
#crear una nueva lista eliminado los repetidos
conjunto = set(lista)  #esto devuelve el conjunto y luego hay que pasar el conjunto a una lista
lista2 = list(conjunto)
lista2

['limon', 'pera', 'naranja', 'platano', 'manzana']

In [240]:
# o se puede hacer con un for y el mtd append.
lista_sin_duplicado = []
for i in conjunto:
    lista_sin_duplicado.append(i)

lista_sin_duplicado

['limon', 'pera', 'naranja', 'platano', 'manzana']

In [247]:
#simplificado
lista =['manzana','platano','pera','manzana','limon','pera','platano','naranja']
lista3 = list(set(lista))
lista3

['limon', 'pera', 'naranja', 'platano', 'manzana']

In [257]:
#crear una func 'dividir_entre_dos' que dive el numero entre '2' y devuelve el resultado
lista =[20,18,8,4,10,40,6]
#crear una nueva lista2 que mediante map() aplique la funcion 'dividir_entre_dos'
def dividir_entre_dos(numero):
    return numero/2

lista2= list(map(dividir_entre_dos,lista))
lista2

[10.0, 9.0, 4.0, 2.0, 5.0, 20.0, 3.0]

Ejercicio de codificación : Operaciones Matemáticas  

Crear una función que reciba 2 números como parámetros y que devuelva la suma, resta, multiplicación, división y resto de las operaciones entre ambos números

In [ ]:
def operaciones_matematicas(a,b):
    suma = a + b
    resta = a - b
    multiplicacion = a * b
    division = a / b 
    residuo = a % b 
    return (suma, resta, multiplicacion, division, residuo)

# Prueba la función con valores específicos
a = 10
b = 3

resultado = operaciones_matematicas(a, b)
print("Suma:", resultado[0])
print("Resta:", resultado[1])
print("Multiplicación:", resultado[2])
print("División:", resultado[3])
print("Residuo:", resultado[4])

Calcular la suma y promedio de una lista de números
Desarrolla una función llamada 'calcular_suma_y_promedio' que tome como entrada una lista de números y calcule la suma de todos los números de la lista y el promedio de esos números.

La función devolverá un diccionario con los resultados de la suma y el promedio

In [268]:
def calcular_suma_y_promedio(lista_numeros):
    suma = sum(lista_numeros)
    promedio = suma / len(lista_numeros) if lista_numeros else 0
    return {"suma": suma, "promedio": promedio}

# Pruebas
numeros = [1, 2, 3, 4, 5]
resultado = calcular_suma_y_promedio(numeros)
print("Suma:", resultado["suma"])
print("Promedio:", resultado["promedio"])

Suma: 15
Promedio: 3.0

Frecuencia de elementos en una lista  
Crear una función denominada 'contar_frecuencia' que tome una lista de números y calcule las veces (frecuencia) que aparece cada número en la lista y devuelva los resultados en forma de diccionario, donde cada clave será cada número distinto de la lista y cada valor será el número de veces que aparece ese número en la lista.